<h1>Services#index</h1>

<% @services.each do |service| %>
	<%= service.title %> <br>
	<%= service.description %><br>
	<%= number_to_currency(service.price, unit: '€', separator: ",", 
		delimiter: "", format: "%n %u") %><br>
	<%= service.category.name %><br><br><br>
<% end %>

